body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}
body > header {
  background-color: #627a14;
  padding: 1vh 1vw;
  height: 12vh;
  box-sizing: border-box;
  color: #fff;
}
body > main {
  height: 83vh;
}
body > footer {
  height: 5vh;
  background-color: #b3cb65;
}
h1.app-title {
  font-size: 20px;
}
section.main-feature {
  float: left;
  background-color: #fbfbfb;
  width: 78vw;
  height: 83vh;
}
aside.secundary-feature {
  float: right;
  background-color: #6f4d8f;
  width: 20vw;
  height: 83vh;
  color: #fff;
}
